

<!DOCTYPE html>
<html>
  <head>
    <title>btcX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="btcX">
    <meta name="description" content="Search engine for BTC exchange rates">
    <meta name="keywords" content="BTC, Search, eninge, exchange, rates, Money, Invest">
    <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>

    <link href="/public/stylesheets/dev_css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/stylesheets/dev_css/datepicker.css" rel="stylesheet">
 	<link href="/public/stylesheets/dev_css/timepicker.css" rel="stylesheet">
    <link href="/public/stylesheets/dev_css/style.css" rel="stylesheet">
    <link href="/public/stylesheets/dev_css/login.css" rel="stylesheet">

  </head>
  <body>
  	<header class="navbar-fixed">
  		<div class="navbar-inner clearfix">
  			<a class="navbar-brand" href="#">eXc</a>
  			<a class="pull-right btn btn-green link"  style="font-size:28px;line-height:64px;" data-toggle="modal" data-target="#signupPanel">Sign up</a>
  		</div>	
  	</header>
  		<div class="bk bk_0">
	  		<div class="c_1 row img_1">
		  		<div class="col-md-offset-1 col-md-3">
				  		<div class="panel panel-primary panel-inverted">
						<div class="panel-heading clearfix"><span class="glyphicon glyphicon-log-in pull-left"></span><h3 class="panel-title pull-right">Sign in</h3></div>
						  <div class="panel-body">
						  	<form name="login">
						  	<div class="input-group">
							  <span class="input-group-addon">U</span>
							  <input type="text" name="username" class="form-control" placeholder="Username">
							</div>
						  	<div class="input-group">
							  <span class="input-group-addon">P</span>
							  <input type="password" name="password" class="form-control" placeholder="Password">
							</div>
						 	<p id="login-message" style="text-align:left;font-size:11px;margin:0"></p>
							</form>
						  	<br>
						  	<a class="link" style="line-height:30px;font-size:12px;">Forgot password?</a>
						  	<a class="btn btn-default pull-right btn-black" id="loginBtn">Login</a>
						  </div>
						</div>	
				</div>
			</div>	
		</div>	
  		<div class="bk bk_blank">
	  		<div class="row">
	  			<div class="col-md-offset-1 col-md-3">
			  		<div class="panel panel-primary">
					<div class="panel-heading"><span class="glyphicon glyphicon-sort"></span><h3 class="panel-title pull-right">Dynamic</h3></div>
					  <div class="panel-body">
					  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
					  </div>
					</div>	
				</div>	
				<div class="col-md-4">
			  		<div class="panel panel-primary">
					<div class="panel-heading"><span class="glyphicon glyphicon-user"></span><h3 class="panel-title pull-right">Personalized</h3></div>
					  <div class="panel-body">
					  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
					  </div>
					</div>	
				</div>	
				<div class="col-md-3">
			  		<div class="panel panel-primary">
					<div class="panel-heading"><span class="glyphicon glyphicon-lock"></span><h3 class="panel-title pull-right">Secure</h3></div>
					  <div class="panel-body">
					  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
					  </div>
					</div>	
				</div>
			</div>	
		</div>	
		<div class="bk bk_1">
			<div class="row">
	  			<div class="team col-md-offset-1 col-md-3">
			    	<img class="img-circle" src="/public/images/dev_imgs/team1.png"/>
			    	<h3>Daniel Morozoff</h3>
			    	<p>Dan is currently doing his Ph.D in Bioinformatics at Columbia University.<br>Dan worked for NASA where he researched plasma vorticity using Cassini.<br>He is currently also working on a computer vision project in collaboration with Stanford. His skills include Java, JS, Web development, noSQL and various visualization technologies.</p>
	  			</div>
	  			<div class="team col-md-3">
	  				<img class="img-circle" src="/public/images/dev_imgs/team2.png"/>
	  				<h3>David Minkovski</h3>
	  				<p>David studies Business Informatics at the University of Mannheim where he researches artificial intelligence for web analysis.<br>His skills include Java, PHP, JS, Web development, noSQL and AI.</p>
	  			</div>
	  			<div class="team col-md-3">
	  				<img class="img-circle" src="/public/images/dev_imgs/bitcoin.png"/>
	  				<h3>Arthur Shekhtman</h3>
	  				<p></p>
	  			</div>
	  		</div>	
		</div>
		<div class="bk bk_2">
		</div>
		<div class="footer">
		</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
     <script type="text/javascript"> window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js">\x3C/script>')</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/public/javascripts/dev_js/bootstrap.min.js"></script>
    <script src="/public/javascripts/dev_js/landing.js"></script>
 	<script src="/public/javascripts/dev_js/tube.js"></script>
    <script src="/public/javascripts/dev_js/verification.js"></script>

 	<div class="modal fade" id="signupPanel" tabindex="-1" role="dialog" aria-labelledby="Sign Up" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	      	<span class="pull-left glyphicon glyphicon-log-in"></span>
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      </div>
	      <form name="signup">
	      <div class="modal-body">
	      		
		      	<div class="input-group">
				  <span class="input-group-addon">E</span>
				  <input type="text" name="email" class="form-control" placeholder="Email">
				   <span class="input-group-addon addon-right"><span class=""></span></span>
				</div>
				<div class="input-group">
				  <span class="input-group-addon">U</span>
				  <input type="text" name="username" class="form-control" placeholder="Username">
				   <span class="input-group-addon addon-right"><span class=""></span></span>
				</div>
				<div class="input-group">
				  <span class="input-group-addon">F</span>
				  <input type="text" name="firstname" class="form-control" placeholder="Firstname">
				   <span class="input-group-addon addon-right"><span class=""></span></span>
				</div>
				<div class="input-group">
				  <span class="input-group-addon">L</span>
				  <input type="text" name="lastname" class="form-control" placeholder="Lastname">
				   <span class="input-group-addon addon-right"><span class=""></span></span>
				</div>
			  	<div class="input-group">
				  <span class="input-group-addon">P</span>
				  <input type="password" name="password" class="form-control" placeholder="Password">
				   <span class="input-group-addon addon-right"><span class=""></span></span>
				</div>
				<div class="input-group">
				  <span class="input-group-addon">P</span>
				  <input type="password" name="reppassword" class="form-control" placeholder="Rep. Password">
				  <span class="input-group-addon addon-right"><span class=""></span></span>
				</div>
				
	      </div>
	      <div class="modal-footer">
	      	<div class="input-group">
		      <span class="input-group-addon">
		        <input type="checkbox" name="agreement">
		      </span>
		      <p style="font-size:12px;" class="form-control">I agree to the <a>Terms of Use</a> and the <a>Privacy Policy</a></p>
		    </div><!-- /input-group -->
		    
		    <br>
		    <p id="signup-message" style="text-align:left;font-size:11px;margin:0"></p>
	        <button type="button" class="btn btn-default btn-black" id="signupBtn">Submit</button>
	      </div>
	      </form>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
  </body>
</html>