

<!DOCTYPE html>
<html>
  <head>
    <title>btcX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="btcX">
    <meta name="description" content="Search engine for BTC exchange rates">
    <meta name="keywords" content="BTC, Search, eninge, exchange, rates, Money, Invest">
    <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>

    <link href="/public/stylesheets/dev_css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/stylesheets/dev_css/datepicker.css" rel="stylesheet">
 	<link href="/public/stylesheets/dev_css/timepicker.css" rel="stylesheet">
    <link href="/public/stylesheets/dev_css/style.css" rel="stylesheet">
    <link href="/public/stylesheets/dev_css/login.css" rel="stylesheet">

  </head>
  <body>
  	<header class="navbar-fixed">
  		<div class="navbar-inner clearfix">
  			<a class="navbar-brand" href="#">eXc</a>
  		</div>	
  	</header>
  		<div class="bk bk_0 clearfix">
	  		<div class="c_1 row img_1">
	  			<div class="col-md-offset-1 col-md-4 panel panel-primary panel-inverted" style="padding:0">
					<div class="panel-heading clearfix"><span class="glyphicon glyphicon-log-in pull-left"></span><h3 class="panel-title pull-right">Sign up</h3></div>
				   <div class="panel-body">
			  		<form name="signup">
				      	<div class="input-group">
						  <span class="input-group-addon">E</span>
						  <input type="text" name="email" class="form-control" placeholder="Email">
						   <span class="input-group-addon addon-right"><span class=""></span></span>
						</div>
						<div class="input-group">
						  <span class="input-group-addon">F</span>
						  <input type="text" name="firstName" class="form-control" placeholder="Firstname">
						   <span class="input-group-addon addon-right"><span class=""></span></span>
						</div>
						<div class="input-group">
						  <span class="input-group-addon">L</span>
						  <input type="text" name="lastName" class="form-control" placeholder="Lastname">
						   <span class="input-group-addon addon-right"><span class=""></span></span>
						</div>
						<div class="input-group">
						  <span class="input-group-addon">P</span>
						  <input type="text" name="phoneNumber" class="form-control" placeholder="Phone">
						   <span class="input-group-addon addon-right"><span class=""></span></span>
						</div>
						<div class="input-group">
						  <span class="input-group-addon">A</span>
						  <input type="text" name="address" class="form-control" placeholder="Address">
						   <span class="input-group-addon addon-right"><span class=""></span></span>
						</div>
						<div class="input-group">
						  <span class="input-group-addon">C</span>
						  <input type="text" name="city" class="form-control" placeholder="City">
						   <span class="input-group-addon addon-right"><span class=""></span></span>
						</div>
						<div class="input-group">
						  <span class="input-group-addon">S</span>
						  <input type="text" name="state" class="form-control" placeholder="State">
						   <span class="input-group-addon addon-right"><span class=""></span></span>
						</div>
						<div class="input-group">
						  <span class="input-group-addon">P</span>
						  <input type="text" name="percentChargedByCC" class="form-control" placeholder="Percent Charged By CC">
						   <span class="input-group-addon addon-right"><span class=""></span></span>
						</div>
					    <br>
					    <p id="signup-message" style="text-align:left;font-size:11px;margin:0"></p>
					    <button type="button" class="btn btn-default btn-black pull-right" id="signupBtn">Submit</button>
					  </form>
					</div>
				</div>		  
			</div>	
		</div>	
		<div class="footer">
			<div class="row">
				<div class="col-md-offset-1 col-md-3">
					<h3>Navigation</h3>
					<ul>
					<li><a>About us</a></li>
					<li><a>Tech</a></li>
					<li><a>Contact us</a></li>
					</ul>
				</div>
				<div class="col-md-offset-4 col-md-3">
					<h3>Get in Touch</h3>
					<ul>
					<li>You can reach us by email: btcx@gmail.com</li>
					</ul>
				</div>

			</div>	
			<div class="row bk_blank">
				<div class="col-md-offset-1 col-md-11">
					<p>© btcX All rights reserved.  <a>Privacy Policy</a>  |  <a>Terms and Conditions</a></p>
				</div>
			</div>	
		</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
     <script type="text/javascript"> window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js">\x3C/script>')</script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/public/javascripts/dev_js/bootstrap.min.js"></script>
    <script src="/public/javascripts/dev_js/landing.js"></script>
 	<script src="/public/javascripts/dev_js/tube.js"></script>
    <script src="/public/javascripts/dev_js/verification.js"></script>

  </body>
</html>