body,html 
{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}
img
{
	max-width:100%;
}
h1
{
	color:#fff;
}
.input-group{
	width:290px;
}

.bk {
	width: 100%;
	min-height:95%;
}
.bk_0
{
	background:url(/public/images/dev_imgs/bitcoin.png) center center fixed;
	background-size: cover;
}
.bk_1
{	
	padding:35px 0px;
	background:#000;
	height:85%;
}

.bk_blank
{
	background-color: #ecf0f1;
	min-height:0;
}
.c_1 {
	padding-top:65px;
	height: 80%;
	width: 100%;
	background:transparent;
}
.footer
{
	background:#2c2c2c;
	width:100%;
	height:5%;
	min-height:30px;
}

.footer h3
{
	color:#fff;
	font-family: 'Iceland', cursive;
}
.footer ul 
{
	list-style: none;
	color: #fff;
}

.footer ul  li
{
	float:left;
	margin-left:15px;
	line-height:30px;
	text-align: center;
}
.footer ul li a.active
{
	color:#fff;
}
.modal-content
{
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	width: 400px;
	margin:0 auto;
}
.modal-header
{
	background:#000;
	text-align: right;
	font-size:18px;
	color:#fff;
}
.modal-header h4 
{
	font-family: 'Iceland', cursive;
}
.modal-header .close,
.modal-header .close:hover
{
	color:#fff;
	opacity: 1;
	text-shadow: none;
	margin-left:5px;
}
.modal-content .input-group
{
	margin-bottom:2px;
}
/*.modal-content .input-group input
{
	border-right:none;
	-webkit-border-right:none;
	-moz-border-right:none;
}*/
.modal-content .input-group .addon-right
{
	background:transparent;
	/*border-left:none;
	-webkit-border-left:none;
	-moz-border-left:none;*/
}
.panel-inverted .panel-body .input-group-addon.addon-right
{
	background:transparent;

}
.navbar-description {
	line-height:60px;
	font-size:16pt;
}

.type-selection-wrapper{
   width: 120px;
   height: 34px;
   overflow: hidden;
   background: url(/public/images/dev_imgs/angle_down.ico) no-repeat 85% #FFF;
   margin-bottom:10px;
}
.type-selection{
	background: transparent;
    width: 110px;
    font-size: 16px;
    height: 34px;
	padding:3px;
	margin-bottom: 20px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
   /* -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    
    color:#888;
    border:1px solid #27ae60;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
.type-selection:focus{
	border:1px solid #27ae60;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.carousel-inner
{
	/*min-height:580px;*/
	padding-bottom:10px;
}
.panel
{
	margin-bottom:0;
}
.margin 
{
	margin-top:65px;
}
.error
{
	color: #843534;
}
.success 
{
	color:#3c763d;
}
.message-error
{
	text-align: right;
	font-size:10px;
	color: #843534;
}
.has-error
{
	border-color: #843534;
}
#crypt-map
{
	position: absolute;
	top:45px;
	bottom:0;
	width:100%;
	height:100%;
}
#panel-signup-info
{
	transition:width, 0.5s;
	-webkit-transition:width, 0.5s;
	-moz-transition:width, 0.5s;
}
.mobile
{
	display: none;	
}
.no-icon 
{
	background: transparent;
	padding:0;
}
@media (min-width: 200px) and (max-width: 650px)
{
	.navbar-right.pull-right.info
	{
		display: none;
	}
	.row
	{
		margin:0 0;
	}
	.mobile
	{
		display: block
	}
	.not-mobile
	{
		display: none;
	}
	.navbar-brand
	{
		float:left;
	}
	.btn-group.mobile a span
	{
		color:black;
		font-size: 24px;
	}
	.btn-group.mobile 
	{
		margin-top: 20px;
	}
	div.col-md-4
	{
		width:100%;
		float:none;
	}
	.footer ul li
	{
		margin-left: 8px;
	}
	.footer div
	{
		float: right;
	}
	.carousel-inner
	{
		padding-bottom: 0;
	}
	.image-container 
	{
		width:25%;
		float:left;
	}
	.panel-body
	{
		padding:5px;
	}

}
@media (min-width: 650px) and (max-width: 720px) 
{
	.navbar-right.pull-right.info
	{
		display: none;
	}
	.row
	{
		margin:0 0;
	}
	div.col-md-4
	{
		width:49%;
		float:left;
	}
	div.col-md-offset-4.col-md-4
	{
		float:right;
	}
	.footer ul li
	{
		margin-left: 8px;
	}
	.image-container 
	{
		width:25%;
		float:left;
	}
	.item > .col-md-3
	{
		width:50%;
		float:left;
	}
	.item > .col-md-4, .item > .row > .col-md-4, .item > .col-md-6
	{
		width:80%;
		float:left;
	}
	.col-md-offset-1,.col-md-offset-2
	{
		margin-left: 10%;
	}
	.col-md-offset-1.col-md-3
	{
		margin-left:25%;
	}

}


@media (min-width: 720px) and (max-width: 991px)
{
	.footer div.col-md-4
	{
		width: 49%;
		float: left;
	}
	.footer div.col-md-offset-4.col-md-4
	{
		float:right;
	}
	.image-container 
	{
		width:25%;
		float:left;
	}
	.item > .col-md-4, .item > .row > .col-md-4, .item > .col-md-6
	{
		width:80%;
		float:left;
	}
	.panel .col-md-6
	{
		width:50%;
		float:left;
	}
	.col-md-3
	{
		width:40%;
		float:left;
	}
	.col-md-offset-1,.col-md-offset-2
	{
		margin-left: 10%;
	}
	.col-md-offset-1.col-md-3
	{
		margin-left:30%;
	}
	.image-container 
	{
		width:25%;
		float:left;
	}
}
@media (min-width: 720px) and (max-width: 1230px)
{
	.item > .col-md-4, .item > .row > .col-md-4, .item > .col-md-6
	{
		width:80%;
		float:left;
	}
	.col-md-offset-1
	{
		margin-left: 10%;
	}
}

.item > .col-md-3
	{
		min-width:316px;
	}

