body,html 
{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}
h1
{
	color:#fff;
}

.bk {
	width: 100%;
	height:95%;
}
.bk_0
{
	background:url(/public/images/dev_imgs/bitcoin.png) center center fixed;
	background-size: cover;
}
.bk_1
{	
	padding:35px 0px;
	background:#000;
	height:85%;
}

.bk_blank
{
	padding-top:35px;
	background-color: #ecf0f1;
	height:50%;
}
.c_1 {
	padding-top:125px;
	height: 80%;
	width: 100%;
	background:transparent;
}
.footer
{
	padding-top:4px;
	background:#2c2c2c;
	height:5%;
	width:100%;
}
.footer h3
{
	color:#fff;
	font-family: 'Iceland', cursive;
}
.footer ul ,.footer  p
{
	list-style: none;
	line-height:30px;
	color: #fff;
}
.footer ul  li 
{
	float:left;
	margin-left:15px;
	line-height:30px;
}
.modal-content
{
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	width: 400px;
	margin:0 auto;
}
.modal-header
{
	background:#000;
	text-align: right;
	font-size:18px;
	color:#fff;
}
.modal-header h4 
{
	font-family: 'Iceland', cursive;
}
.modal-header .close,
.modal-header .close:hover
{
	color:#fff;
	opacity: 1;
	text-shadow: none;
	margin-left:5px;
}
.modal-content .input-group
{
	margin-bottom:2px;
}
/*.modal-content .input-group input
{
	border-right:none;
	-webkit-border-right:none;
	-moz-border-right:none;
}*/
.modal-content .input-group .addon-right
{
	background:transparent;
	/*border-left:none;
	-webkit-border-left:none;
	-moz-border-left:none;*/
}
.panel-inverted .panel-body .input-group-addon.addon-right
{
	background:transparent;

}
